.footer {
  background-color: var(--negro);
  padding: 5rem;
}

.navegacion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem
}

@media(min-width:768px){
    .flex_footer{
        flex-direction: row;
        justify-content: space-between;
      }

}

.navegacion a{
   color: white;
   text-decoration: none;
   font-size: 1.8rem;
}

.navegacion a:hover{

    color: var(--primary);
}
.copyrigth{
    color: var(--blanco);
    font-size: 1.5rem;
}

